.params{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    align-items: center;
}
.pages{
    position: absolute;
    left:50%
}
.movies-container{
    margin-top: 1rem;
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
}
.movie{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 1%;
   width:28vw;
   height: 900px;
   margin:0.5rem;
   padding: 0.1rem;
   background-color: rgb(227, 231, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
img{
    border-radius: 5%;
    width: 20vw;
    background-size: cover;
}
.loadingSpinner-container{
    height: calc(100vh - 130px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight: bolder;
    font-size: calc(1rem + 0.5vw);
}
.input-search{
    padding: 0.1rem;
   
    
}

    .add{
        cursor: pointer;
        background-color: inherit;
        border:none;
        padding: 0.3rem;
        transition: all 0.2s ease;
        font-weight: bolder;
        color: rgba(0, 0, 0);
    }
  
    .details{
        
        cursor: pointer;
        background-color: inherit;
        border:none;
        padding: 0.3rem;
        transition: all 0.2s ease;
        font-weight: bolder;
        color: rgba(0, 0, 0);
    }
    .details:hover{
        color: black;
        transform: scale(1.1);
    }
    @media screen and (max-width :768px) {
        .movie{
    
 
           width:60vw;

        }
        
    }
.pages button{
    background: #032541;
    color:white;
    padding: 1px;
    border-radius: 10%;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    
}