.Movie-details{
  display: grid;
  grid-template-columns: 55% 40%;
}
.moviedetails-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 35px);

}
.moviedetails-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.similarmovie-container{
display: flex;

flex-direction: row;
align-items: center;
justify-content: space-evenly;

flex-wrap: wrap;

gap:1rem;
}
.similarmovie{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 231, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3%;
  padding: 1rem;
  
  width: 20vw;
  
}
.similarmovie-img{
  width: calc(10vw + 25px)
}
.see{
  cursor: pointer;
  font-weight: bold;
}
.reviews{
  /* border: 1px solid black; */
  border-radius: 1%;
  padding: 10px;
  width: 90vw;
  
  margin: 0 auto;
}
.img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
 
}
.cont{
  display: flex;
  align-items: center;
}