.Movie-details{
  display: grid;
  grid-template-columns: 55% 40%;
}
.moviedetails-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 35px);
}
.moviedetails-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.similarmovie-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
gap:0.5rem;
}
.similarmovie{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 231, 255);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  width: 30vw;
  /* height: 40vh!; */
  
}
.similarmovie-img div{
display: flex;
justify-content: center;
}
.similarmovie-img div img{
  width:30%;
}
.similarmovie-img div h1{
 font-size: 10px;
}
.see{
  cursor: pointer;
  font-weight: bold;
}
.reviews{
  /* border: 1px solid black; */
  border-radius: 1%;
  padding: 10px;
  width: 90vw;
  background: #d2edfe;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
 
  margin: 0 auto;
}
.moviedetails-details .overview{
  color: #000;
  font-size: larger;
  font-weight: 1000;
}
.img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
 
}
.cont{
  display: flex;
  align-items: center;
}
@media screen and (max-width :768px) {
  .similarmovie{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 231, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%;
    width: 40vw;
    /* height: 40vh!; */
    
  }
}